/node_modules
/public/hot
/public/storage
/public/html
/public/js
/public/css
/public/main.js
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
xdebuglogs.log
