@import "variables";
@import "breakpoints";

body {
  font-family: "Helvetica", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: $bg-color;
  color: $text-color;
}

.container {
  width: 100%;
  padding: 0 16px;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;

  @include large-desktop() {
    padding: 0;
  }
}

a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  will-change: color;

  &.link {
    text-transform: uppercase;
    color: $text-color;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;

    &:hover {
      color: $text-accent-color;
    }

    &--smaller {
      font-size: 15px;

      @include tablets() {
        font-size: 18px;
      }
    }
  }

  &.subtitle {
    font-size: 14px;
    font-weight: 300;
  }
}

button {
  -webkit-appearance: none;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  margin: 0;
}
