@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica.ttf') format('truetype'),
  url('/fonts/Helvetica.woff') format('woff'),
  url('/fonts/Helvetica.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica-Light.ttf') format('truetype'),
  url('/fonts/Helvetica-Light.woff') format('woff'),
  url('/fonts/Helvetica-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica-Bold.ttf') format('truetype'),
  url('/fonts/Helvetica-Bold.woff') format('woff'),
  url('/fonts/Helvetica-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
