$gradient-height: 40px;
$page-height: calc(100vh - 264px);

@mixin page-height {
  height: $page-height;
}

@mixin container-gradients($color, $height: $page-height, $top-position: 106px, $paddings: 88px) {

  &::before, &::after {
    width: calc(100% - #{$paddings});
    max-width: calc(1440px - #{$paddings}); // Container width minus left-right paddings
    height: $gradient-height;
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
  }

  // Top gradient
  &::before {
    top: $top-position;
    background: linear-gradient(180deg, $color 0%, rgba($color, 0) 100%);
  }

  // Bottom gradient
  &::after {
    top: calc(#{$top-position} + #{$height});
    background: linear-gradient(180deg, rgba($color, 0) 0%, $color 100%);
  }
}
