$bg-color: #000000;

$text-accent-color: #FAFAFA;
$text-color: #D9D9D9;

$sole: #0d0d0d;
$silt: #1A1A1A;
$smoke: #262626;
$park: #6F7478;
$red: #FF0000;

// Spacings
$spacing-sm: 8px;
$spacing: 16px;
$spacing-md: 24px;
$spacing-lg: 40px;
